h1{
  text-align: center;
}


body{
  margin:0px;
}
.navbar ul{
  list-style: none;
  background-color: hsl(210, 40%, 30%);
  padding: 10px;
  margin: 0px;
  overflow: hidden;
  justify-content: center;
  gap:30px;
  display: flex;
} 

.navbar li{
  align-items: center;
  display: flex;
}


.navbar a img{
  height: 20px;
  width: 20px;
  object-fit: contain;
}
.navbar a{
  color:white;
  text-decoration:none;
  padding:10px;
  display: inline-block;
  text-align: center;
  gap:8px;

}

.navbar a:hover{
  background-color: hsl(0, 0%, 15%);
}

